
input[type="text"],
textarea,
label {
	display: block;
	width: 100%;
}

input[type="text"],
textarea {
	display: block;
	width: 100%;
	padding: 0.5em;

	&.error {
		border-color: $error_color;
	}
}

textarea {
	resize: none;
}

label {
	padding-bottom: 0.2em
}

.input-group {
	padding-bottom: 1em;
}

.output {
	display: block;

	&.error {
		color: $error_color;
	}
}


